a, a:visited {

	color:#003366;

	text-decoration:underline;

	padding: 1px 1px 1px 1px;

}


a:hover {

	color:#006633;

	text-decoration:underline;

	padding: 1px 1px 1px 1px;

}


.bannermain {

	margin-left:auto; 

	margin-right:auto;

	width:850px;

	border:0px;

	cellpadding:0;

	cellspacing:0;

	background-color:#FFFFFF;

	background-repeat:no-repeat;

}


body {

	margin-top:1px;

	background-color: #39457B;

}


body,td,th {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: small;

	color: #39457B;

}


.breadcrumbs {

	min-width:375px;

	min-height:18px;

	border:0px;

	cellpadding:3;

	cellspacing:3;

	background-color: #FFFFFF;

	font-size:12px;

	float:left;

	text-align:left;

}


.breadcrumbs2 {

	min-width:50%;

	min-height:18px;

	border:0px;

	cellpadding:3;

	cellspacing:3;

	background-color: #FFFFFF;

	font-size:12px;

	float:left;

	text-align:left;

}


.docccontainer {

 	width:600px;

	text-align:left;

	padding:1px;

	float:right;

	background-color:#FFFFFF;

}


.footers {

    border-top-color:#666699;

	border-top:thin;

	border-top-style:solid;	

	width:850px;

	margin-left:auto; 

	margin-right:auto;

	min-width:850px;

	cellpadding:3;

	cellspacing:3;

	background-color: #FFFFFF;

	font-size:70%;

	float:left;

	text-align:center;

}


.formbutton {

	margin:0px;

	padding:1px;

	height:30px;

	vertical-align:middle;

}


form {

	margin:0px;

	padding:0px;

	float:left;

	vertical-align:middle;

	text-align:center;

	position:relative;

	overflow: visible;

	width: 500;

	height: 100;

}


a.footlink, a.footlink:visited{

  	color: #333399;

	font-weight: bold;

	margin: 0px;

	padding: 1px 1px 1px 1px;

	text-decoration:none;

	font-size:10px;

}


a.footlink:hover{

  	color: #CC0033;

	font-weight: bold;

	margin: 0px;

	padding: 1px 1px 1px 1px;

	text-decoration:none;

	font-size:10px;

}


h1 {

	font-size: 140%;

	font-weight:bold;

	color:#000066;

	color:#FFFFFF;

}


h2 {

	font-size: 120%;

}


h3 {

	font-size: 115%;

}


.homepagecontainer {

	margin-top:4px;

}


input {

	margin:0px;

	padding:1px;

	height:12px;

	vertical-align:middle;

}


li {

	padding:0px;

	margin-left:40px;

	font-size: 100%; color: #39457B; 

}


li.notice {

	padding:0px;

	margin-left:10px;

	margin-right:10px;

	font-size: 100%; color: #39457B; 

}


.leftnavccontainer {

 	width:230px;

	background-color:#FFFFFF;

	text-align:left;

	padding:0px;

	float:left;

}


.leftnavcell {

    width:220px;

 	border-right-width: thin;

	border-right-style: solid;

	border-right-color:#003399;

	border-top-width: thin;

	border-top-style: solid;

	border-top-color: #003399;

	text-align:left;

	padding:3px;

	margin-left:2;

	float:left;

}


.layoutmain {

	margin-left:0; 

	width=:850px;

	border:0px;

	cellpadding:0;

	cellspacing:0;

	background-color:#FFFFFF;

	float:left;

}


.leftnavheader {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-weight: bold;

	font-size:14px;

	color: #ffffff;

	text-align:center;

	line-height:28px;

	height:28px;

	width:199px;

	background-image:url(/images/titlebck.jpg);

	background-position:center;	

	background-repeat:no-repeat;

}


.leftnavheader2 {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-weight: bold;

	font-size:14px;

	color: #ffffff;

	text-align:center;

	line-height:28px;

	height:28px;

	width:199px;

	background-image:url(/images/titlebck.jpg);

	background-position:center;	

	background-repeat:no-repeat;

}


.leftmenuitem {

	font-size:12px; color: #39457B; 

}


.mediatypeboxtitle {

	background-color:#003366;

	color:#FFFFFF;

	font-size:80%;

	text-align:center;

}


a.menulink, a.menulink:visited{

  	color: #333399;

	font-weight: bold;

	margin: 0px;

	padding: 1px 1px 1px 1px;

	text-decoration:none;
	
	font-size:12px;

}


a.menulink:hover{

  	color: #408080;

	font-weight: bold;

	margin: 0px;

	padding: 1px 1px 1px 1px;

	text-decoration:none;
	
	font-size:12px;

}


a.menulink2, a.menulink2:visited{

  	color: #ffffff;

	font-weight: bold;

	margin: 0px;

	padding: 1px 1px 1px 1px;

	text-decoration:none;
	
	font-size:12px;

}


a.menulink2:hover{

  	color: #cccccc;

	font-weight: bold;

	margin: 0px;

	padding: 1px 1px 1px 1px;

	text-decoration:none;

	font-size:12px;

}


.menuquote {

	margin-top:1px;

	margin-left:5px;

	margin-right:1px;

}


.menupara {

	line-height:4px;

}


.messagepage {

	margin:30px;

	width=:850px;

	border:0px;

	cellpadding:0;

	cellspacing:0;

	background-color:#FFFFFF;

	float:left;

}


.pagecell1 {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size:12px;

	margin-left:auto; 

	margin-right:auto;

	width:850px;
}


.skiplink {

	display:none;

}


.tinytext {

	font-size:70%;

}


a.tinylink, a.tinylink:visited{

	font-size: 70%;
	
  	color: #333399;

	font-weight: bold;

	margin: 0px;

	padding: 1px 1px 1px 1px;

	text-decoration:none;

}


a.tinylink:hover{

  	color: #408080;

	font-weight: bold;

	margin: 0px;

	padding: 1px 1px 1px 1px;

	text-decoration:none;

}


.topbancell {

	margin-right:0px;

	margin-top:70px; 

	width:846px;

	text-align:right;

	height:20px;

}


.topmenu {

	min-width:475px;

	min-height:18px;

	border:0px;

	cellpadding:3;

	cellspacing:3;

	background-color: #FFFFFF;

	font-size:100%;

	float:right;

	text-align:right;

}


.topmenu2 {

	min-width:50%;

	min-height:18px;

	border:0px;

	cellpadding:3;

	cellspacing:3;

	background-color: #FFFFFF;

	font-size:100%;

	float:right;

	text-align:right;

}


ul {

	padding:0px;

	margin-left:0px;

	font-size: 100%; color: #39457B; 

}


ul {

	padding:0px;

	margin-left:0px;

	font-size: 100%; color: #39457B; 

}


a.whitelink, a.whitelink:visited{

  	color: #ffffff;

	font-weight: bold;

	margin: 0px;

	padding: 1px 1px 1px 1px;

	text-decoration:none;

}


a.whitelink:hover{

  	color: #cccccc;

	font-weight: bold;

	margin: 0px;

	padding: 1px 1px 1px 1px;

	text-decoration:none;

}


.whitetext {

	color: #ffffff;

	font-size:80%;

}