body {
  background-color: white;
}

td {
  vertical-align: top
}

td.screenshot_img {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

hr {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


table.note th {
  padding: 10px;
  border-style: none;
  vertical-align: middle;
}
table.note td {
  padding: 10px;
  border-style: none;
  vertical-align: middle;
}
div.licence_list_numbering OL {
  counter-reset: item 
}
div.licence_list_numbering OL > LI {
  display: block 
}
div.licence_list_numbering LI:before {
  content: counters(item, ".") ". "; counter-increment: item 
}
div.licence_list_numbering LI.item_not_numbered:before {
  content: ""
}

table.note {
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #009F00;
  border-collapse: collapse;
  background-color: white;
  width: 75%;
}

.tip { 
	background-color: lightgreen;
  padding:1em; 
  background-image: url(https://raw.githubusercontent.com/t-d-k/doxbox/master/docs/images/note_Tip.png);
  background-position: top left;
  background-repeat: no-repeat;
  padding-left:50px;   
  vertical-align: middle;
  display: inline-block;
  min-height: 20px;
}
  
.security_tip {    
  background-color: pink;    
  padding:1em;
  background-image: url(https://raw.githubusercontent.com/t-d-k/doxbox/master/docs/images/note_SecurityTip.png);
  background-position: top left;
  background-repeat: no-repeat;
  padding-left:70px; 
  vertical-align: middle;
  display: inline-block;
  min-height: 20px;
} 


.tech_note {    
  background-color: pink;    
  padding:1em;
  padding-left:100px;
  background-image: url(https://raw.githubusercontent.com/t-d-k/doxbox/master/docs/images/note_Technical.png);
  background-position: top left;
  background-repeat: no-repeat;
 
  vertical-align: middle;
  display: inline-block;
  min-height: 20px;
} 

/*

ins=download button,
del=download-alt button,  
download-group
master_link = main link with png
master_title = title

*/
.master_title{
  font-size: xx-large;
  font-weight: bold;
  display:block;
  text-align:center;
}

.master_link {
  color: #000000; 
  font-size: xx-large;
  font-weight: bold;
  text-decoration: none;
  text-align:center;
  display:block;
}

.download-group{
	display:inline; 
	position: absolute;
	right: 100px;
	top: 20px;
}

.download,.download-alt{
	background:limegreen;
	width: 200px;
	
	font-weight: bold;
	text-align:center;
	vertical-align: middle;
	display:block;
	padding:0.5em;
	margin:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;    
}

.download  {
	min-height:60px;
	font-size: xx-large;
	text-transform:none;
   	text-decoration: none;
}
.download-alt {	
	font-size: small;
	text-transform:none;
	text-decoration: none;
}

