body {
  background-color: white;
}

td {
  vertical-align: top
}

td.screenshot_img {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

hr {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.master_title {
  font-size: x-large;
  font-weight: bold;
  display:block;
  text-align:center;
}

.master_link {
  color: #000000; 
  font-size: x-large;
  text-decoration: none;
  text-align:center;
  display:block;
}
table.note th {
  padding: 10px;
  border-style: none;
  vertical-align: middle;
}
table.note td {
  padding: 10px;
  border-style: none;
  vertical-align: middle;
}
div.licence_list_numbering OL {
  counter-reset: item 
}
div.licence_list_numbering OL > LI {
  display: block 
}
div.licence_list_numbering LI:before {
  content: counters(item, ".") ". "; counter-increment: item 
}
div.licence_list_numbering LI.item_not_numbered:before {
  content: ""
}

table.note {
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #009F00;
  border-collapse: collapse;
  background-color: white;
  width: 75%;
}

.tip { 
	background-color: lightgreen;
  padding:1em; 
  background-image: url(images/note_Tip.png);
  background-position: top left;
  background-repeat: no-repeat;
  padding-left:50px;   
  vertical-align: middle;
  display: inline-block;
  min-height: 20px;
}
  
.security_tip {    
  background-color: pink;    
  padding:1em;
  background-image: url(images/note_SecurityTip.png);
  background-position: top left;
  background-repeat: no-repeat;
  padding-left:70px; 
  vertical-align: middle;
  display: inline-block;
  min-height: 20px;
} 


.tech_note {    
  background-color: pink;    
  padding:1em;
  padding-left:100px;
  background-image: url(images/note_Technical.png);
  background-position: top left;
  background-repeat: no-repeat;
 
  vertical-align: middle;
  display: inline-block;
  min-height: 20px;
} 


